section(class ="to-up fixed top-[80%] ltr:right-4 rtl:left-4  z-50") 
    div(class ="toUp bg-[#149ada] text-white w-12 h-12 rounded-full flex items-center justify-center t cursor-pointer ") #[span(class ="icon-ctrl text-3xl")]
    div(class ="whatschat  text-[#25D366] w-12 h-12 rounded-full flex items-center justify-center t cursor-pointer mt-8") #[span(class ="icon-whatsapp text-4xl")]


